<div class="container">
    <img src="https://i.imgur.com/oUAKMC5.png" />
    <p>Oi, {{name}}</p>
    <br />
    <p>Você solicitou a alteração de senha</p>
    <p>Para realizar a trocar, clique no link</p>
    <a href="{{link}}">{{link}}</a>
    <span>Caso não tenha sido você quem solicitou a troca, basta ignorar este e-mail</span>
    <strong>Obrigado!</strong>
    <h3>Equipe | <strong>Rentx</strong></h3>
</div>

<style>
    .container {
        width: 880px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    span {
        margin: 10px;
    }
</style>